* {
    box-sizing: border-box;
}

:root {
    --site-width: 50rem;
}

body {
    background-color: rgb(237, 237, 237);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, main, footer {
    max-width: var(--site-width);
    margin: auto;
    background-color: white;
    padding: 1rem;
}

nav {
    max-width: var(--site-width);
    margin: auto;
    background-color: rgb(135, 18, 98);
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

nav a:hover {
    background-color: rgb(99, 0, 68);
}

table {

    border-spacing: 0;

    border-collapse: collapse;

}


td, th {

    border: solid 1px rgb(53, 53, 53);

 

    padding: 0.5rem 0.75rem;

}


th {

    background-color: rgb(135, 18, 98);

    color: white;

}


tr:nth-child(odd) {

    background-color: rgb(228, 221, 226);

}