* {
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    max-width: 50rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
}